{% extends "html\basic.html" %}

{% block title %}
Home
{% endblock title %}

{% block css %}

.bg{
  flex-wrap: wrap;
 padding: 35px;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

.bgg{
  background: transparent;
}

body{ background-color: #e3f2fd;}

{% endblock css %}

{% block body %}

{% if messages %}
<ul class="messages list-unstyled">
    {% for message in messages %}
    <li {% if message.tags %}>

      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong> {{ message }} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

<main role="main">



    <!-- Main jumbotron for a primary marketing message or call to action -->
  
    <div class="jumbotron bg"  style="background-image: url(https://www.desktopbackground.org/download/1680x1050/2011/09/24/270774_blur-blurred-background-hd-wallpapers-jpg_1920x1280_h.jpg);">
      <div class="container" >
       <center> <h1 class="display-3" style="color: black">EMPIRE! 

          {% if user.is_authenticated  %}
        Welcome {{request.user.first_name}}
          {% endif %}

        </h1 > </center>

        
        <h4 style="color: black"> EMPIRE is a free site for students to upload their projects and connect to eachother through github. This site is built by the students of EMPIRE Institue where we teach various technical courses and conduct internships where the students can work on realtime projects and get hands on experience. Our students get certified by our best teachers. </h4>
    
         <img class="d-block mx-auto mb-4" src="https://www.teahub.io/photos/full/39-390077_college-graduate-with-diploma.jpg"
            alt="" width="500" height="200"> 


       <center> <h3 style="color:white"> For  more Enquieries contact us now! </h4> </center>
      </div>
    </div>
    &nbsp;

    <div class="container"  style="background-color:white;">
      <!--  rExampleow of columns -->
      <div class="row">
        <div class="col-md-4">
        &nbsp;
        <center><i class="fas fa-file-alt fa-3x"></i></center>
          <center><h2>ISO Certified</h2> </center>
          <p> 
        We are ISO 9001:2021 Certified Institute, which is a proof of rigourous and systematic processes for various aspects of functioning of CamUni. </p>
          {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> {% endcomment %}
        </div>
        <div class="col-md-4">
        &nbsp;
        <center><i class="fas fa-user fa-3x"></i></center>
          <center><h2>Internships</h2></center>
          <p>We provide various internship opportunities by the projects you upload here. You just need to enroll yourself for the process.  </p>
         <center> <p><a class="btn btn-secondary" href="#" role="button">Enroll now</a></p> </center>
        </div>
        <div class="col-md-4">
        &nbsp;
        <center><i class="fas fa-star fa-3x"></i></center>
         <center> <h2>Benefits</h2> </center>
          <p> The benefits of uploading your projects will be that you will be remarked and given a star rating out of 10 by our most qualified professors. Also the professors will give you star tick on your github according to your work.</p>
          {% comment %} <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> {% endcomment %}
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container">
    <p>&copy; CamUni 2021</p>
  </footer>


{% endblock body %}